# dbt artifacts
target/
logs/
dbt_packages/

# Local configuration
.dbt/

# Operating System and Editor specific files
.DS_Store
.vscode/*
!/.vscode/
!.vscode/mcp.json
!.vscode/settings.json
.idea/
*.swp
*~

# Testing
*.pyc
__pycache__/
.pytest_cache/
.hypothesis/

# data files
*.duckdb
*.db
data/
data_split/